.hero {
    &__image {
        background-image: url('');          // Suggest splash color background for map
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        }

    &__text {
        text-align: center;

        h1 {
            font-weight: 300;
            font-size: 1.75rem;
            line-height: 1.15;
            margin-bottom: 1.5rem;
        }

        p {
            line-height: 1.5;
            margin-bottom: 2.25rem;
        }
    }
}