// Colors
$lightBlue: #03A8D3;
$lighterBlue: rgba(3, 168, 211, 0.2);
$pink: #E63C69;
$yellow: #FAB932;
$green: #37C8A0;
$purple: #7D147D;
$lightGray: #F0F0F0;
$mediumGray: #D2D2D2;
$darkGray: #414141;

// Font Sizes
$font-sm: 1rem;
$font-med: 1.125rem;